 <% @chat_history.each do |message| %>
 <p><%= message.fetch("role") %></p>
 <p><%= message.fetch("content") %></p>
  
 <% end %>


<form action="/chat" method="post">
  <label for="new_message_field">You:</label>
  
  <input id="new_message_field" type="text" name="user_message" placeholder="Enter a message....">

  <button>Send</button>
</form>

<hr>

<form action="/clear_chat" method="post">
  <button>Clear chat history</button>
</form>
